{% extends "catalog/base.html" %}
{% load my_tags %}

{% block create_button %}
<a class="btn btn-primary" href="{% url 'blog:blog_create' %}" role="button">Создать статью</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for blog in object_list%}
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ blog.heading }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ blog.heading | media_filter }}" alt="Изображение товара" style="width: 100%; height: auto;" />
                    <h4 class="lead mb-3">Просмотров: {{ blog.views_counter }}</h4>
                    <div class="buttons-container d-flex flex-column w-100">
                        <a class="btn btn-md btn-outline-success full-width-btn mb-3" href="{% url 'blog:blog_detail' blog.pk %}">Посмотреть</a>
                        <a class="btn btn-md btn-outline-primary full-width-btn mb-3" href="{% url 'blog:blog_update' blog.pk %}">Редактировать</a>
                        <a class="btn btn-md btn-outline-danger full-width-btn mb-3" href="{% url 'blog:blog_delete' blog.pk %}">Удалить</a>
                     </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}